$red:           #ff0000;
$green:         #4CAF50;
$light-green:   lighten($green, 20);
$white-green:   lighten($green, 45);
$orange:        #FFC107;
$light-orange:  lighten($orange, 20);
$white-orange:  lighten($orange, 45);
$blue:          #2196f3;
$light-blue:    lighten($blue, 20);
$white-blue:    lighten($blue, 45);
$light-grey:    #fafafa;
$grey:          #ddd;
$strong-grey:   #4C4C4C;
$white:         white;
$color1:        #F44336;
$color2:        #4CAF50;
$color3:        #2196F3;
$color4:        #FF9800;
$color5:        #9C27B0;
// $color1:        #E57373;
// $color2:        #81C784;
// $color3:        #64B5F6;
// $color4:        #FFB74D;
// $color5:        #BA68C8;

$sidebar-width-percent: 40%;
$sidebar-width-px: 550px;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body {
  font-family: "Roboto",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: 200;
}

#page {
  display: flex;

  aside {
    @media only screen and (min-width:960px){
        width: $sidebar-width-px
    }
    width: $sidebar-width-percent;
    height: 100%;
    position: fixed;
    background-color: $strong-grey;
    color: $white;
    box-shadow: 2px 0 10px 0 $grey;
    section#user {
      display: flex;
      align-content: center;
      align-items: baseline;
    }
    nav ul{
      list-style-type: none;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-align: right;
      text-shadow: 0 0 2px $strong-grey;
      li{
        padding:1em;
        cursor: pointer;
        i {
          width: 2em;
          text-align: center;
        }
        &.color1 {
          background-color: $color1;
          &:hover {
            background-color: darken($color1,10%);
          }
        }
        &.color2 {
          background-color: $color2;
          &:hover {
            background-color: darken($color2,10%);
          }
        }
        &.color3 {
          background-color: $color3;
          &:hover {
            background-color: darken($color3,10%);
          }
        }
        &.color4 {
          background-color: $color4;
          &:hover {
            background-color: darken($color4,10%);
          }
        }
        &.color5 {
          background-color: $color5;
          &:hover {
            background-color: darken($color5,10%);
          }
        }
      }
    }
  }
  main {
    flex: 1;
    margin-left: $sidebar-width-percent;
    @media only screen and (min-width:960px){
        margin-left: $sidebar-width-px
    }
    padding: 0 1em;
    section {
      min-height: 100vh;
    }
  }
}

.calendar {
  .calendar-header{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size:1.5em;
    h3 {
      width: 250px;
      text-align: center;
    }
  }
  ul.dates, ul.weekdays {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 13.6%;
      line-height: 3em;
      vertical-align: middle;
    }
  }
  ul.weekdays {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
  ul.dates {
    li {
      &.current-day {
        background-color: $green;
        &.selected {
          background: repeating-linear-gradient(
            -45deg,
            $green,
            $green 10px,
            $blue 10px,
            $blue 20px
          );
        }
      }
      &.selectable:hover {
        background-color: $light-blue;
        cursor: pointer;
      }
      &.selected {
        background-color: $blue;
      }
    }
  }
  ul.selected {
    list-style-type: none;
    li {
      display: flex;
      padding: .5em 0;
      margin: .5em 0;
      .formattedDate {
        width: 110px;
      }
    }
  }
  .timeInput input {
    margin: 0 1em;
    width: 3em;
  }
}
.fa {
  min-width: 1.5em;
  text-align: center;
}

.action:hover {
  color: $blue;
  cursor: pointer;
}