@import './normalize.scss';

$white-color-percentage: 40%;
$sidebar-width-percent: 40%;
$sidebar-width-px: 550px;

$red:           #F44336;
$green:         #4CAF50;
$light-green:   lighten($green, 20);
$white-green:   lighten($green, 45);
$orange:        #FFC107;
$light-orange:  lighten($orange, 20);
$white-orange:  lighten($orange, 45);
$blue:          #2196f3;
$light-blue:    lighten($blue, 20);
$white-blue:    lighten($blue, 45);
$light-grey:    #fafafa;
$grey:          #ddd;
$mid-grey:      #999;
$strong-grey:   #4C4C4C;
$white:         white;
$color0:        #795548;
$color1:        #F44336;
$color2:        #4CAF50;
$color3:        #FF9800;
$color4:        #2196F3;
$color5:        #9C27B0;
$white-color0:        lighten($color0,$white-color-percentage);
$white-color1:        lighten($color1,$white-color-percentage);
$white-color2:        lighten($color2,$white-color-percentage);
$white-color3:        lighten($color3,$white-color-percentage);
$white-color4:        lighten($color4,$white-color-percentage);
$white-color5:        lighten($color5,$white-color-percentage);
// $color0:        #E57373;
// $color1:        #E57373;
// $color2:        #81C784;
// $color3:        #64B5F6;
// $color4:        #FFB74D;
// $color5:        #BA68C8;


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body {
  font-family: "Roboto",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $light-grey;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: 200;
}

ul {
    list-style-type: none;
    padding:0;
}

.fa {
  min-width: 1.5em;
  text-align: center;
}

.action:hover {
  color: $blue;
  cursor: pointer;
}
.spaced {
  margin: 0 0.2em;
}
.italic {
  font-style: italic;
}
.small-text {
  font-size: .75em;
  color: $mid-grey;
}
aside {
  width: $sidebar-width-percent;
  height: 100%;
  position: fixed;
  background-color: $strong-grey;
  color: $white;
  box-shadow: 2px 0 10px 0 $grey;
  section#user {
    display: flex;
    align-content: center;
    align-items: baseline;
    figure {
      margin: 1em;
    }
    .profile {
      cursor: pointer;
    }
    .tools {
      display: flex;
      width: 100%;
      padding: 0 1em;
      justify-content: flex-end;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  nav ul{
    font-weight: bold;
    margin: 0;
    text-align: right;
    text-shadow: 0 0 2px $strong-grey;
    li{
      padding:1em;
      cursor: pointer;
      i {
        width: 2em;
        text-align: center;
      }
      .peek {
        margin: 2px 0;
        max-height: 55px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        li {
          border: 1px solid $white;
          padding:2px .75em;
          margin: 2px;
          font-size: .75em;
          border-radius: .75em;
          background-color: $strong-grey;
        }
      }
      &.color0 {
        background-color: $color0;
        &:hover {
          background-color: darken($color0,10%);
        }
      }
      &.color1 {
        background-color: $color1;
        &:hover {
          background-color: darken($color1,10%);
        }
      }
      &.color2 {
        background-color: $color2;
        &:hover {
          background-color: darken($color2,10%);
        }
      }
      &.color3 {
        background-color: $color3;
        &:hover {
          background-color: darken($color3,10%);
        }
      }
      &.color4 {
        background-color: $color4;
        &:hover {
          background-color: darken($color4,10%);
        }
      }
      &.color5 {
        background-color: $color5;
        &:hover {
          background-color: darken($color5,10%);
        }
      }
    }
  }
}

#application {
  main {
    flex: 1;
    margin-left: $sidebar-width-percent;
    section {
      min-height: 100vh;
      padding: 1em;
      &>h2 {
        margin-top: 0;
      }
    }
    #info {
      h2 { border-bottom: 2px solid $color0; }
    }
    #calendar {
      h2 { border-bottom: 2px solid $color1; }
    }
    #place {
      h2 { border-bottom: 2px solid $color2; }
    }
    #checklist {
      h2 { border-bottom: 2px solid $color3; }
    }
    #poll {
      h2 { border-bottom: 2px solid $color4; }
    }
    #participant {
      h2 { border-bottom: 2px solid $color5; }
    }
  }

}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  input, textarea {
    width: 50%;
    margin: 1em;
  }
  textarea {
    height: 200px;
  }
}

.calendar {
  .calendar-header{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size:1.5em;
    h3 {
      width: 250px;
      text-align: center;
    }
  }
  ul.dates, ul.weekdays {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 13.6%;
      line-height: 3em;
      vertical-align: middle;
    }
  }
  ul.weekdays {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
  ul.dates {
    li {
      &.current-day {
        background-color: $green;
        &.selected {
          background: repeating-linear-gradient(
            -45deg,
            $green,
            $green 10px,
            $blue 10px,
            $blue 20px
          );
        }
      }
      &.selectable:hover {
        background-color: $light-blue;
        cursor: pointer;
      }
      &.selected {
        background-color: $blue;
      }
    }
  }
  ul.selected {
    li {
      display: flex;
      align-items: baseline;
      padding: .5em 0;
      margin: .5em 0;
      .formattedDate {
        width: 110px;
      }
    }
  }
  .timeInput input {
    text-align: center;
    margin: 0 1em;
    width: 3em;
  }
}

.place {
  .placePlaceholder {
    width: 400px;
    height: 170px;
    background-color: $mid-grey;
    font-size: 5em;
    font-weight: bold;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 6px $strong-grey;
  }
  .placeInput {
    display: flex;
    justify-content: center;
    input {
      width: 50%;
    }
  }
  ul.placeList {
    margin: 0;
    li {
      padding: .5em 0;
      display: flex;
      .placeItem {
        width: 100%;
        .map {
          position: relative;
          height: 170px;
          overflow: hidden;
          iframe {
            width: 100%;
          }
        }
      }
    }
  }
}

.viewer {
  .calendar {
    overflow-x: auto;
    table {
      border-collapse: collapse;
      thead {
        th {
          border-top: 1px solid $strong-grey;
          border-left: 1px solid $strong-grey;
          border-right: 1px solid $strong-grey;
          padding: 3px 6px;
          &.noTime {
            border-top: none;
          }
          &:first-child {
            border:none;
          }
        }
      }
      tbody {
        th, tr, td {
          border: 1px solid $strong-grey;
        }
        td.selectable {
          background-color: $white-blue;
          cursor: pointer;
          &:hover {
            background-color: $blue;
          }
        }
      }
    }
  }
  .poll {
    ul.question {
      display: flex;
      justify-content: space-around;
      ul li {
        display: flex;
        padding: 0.4em;
        align-items: center;
        label {
          cursor:pointer
        }
      }
    }
  }
  .place {
    .placeItem {
      display: flex;
      align-content: center;
      align-items: center;
    }
  }
}

.landingPage {
  font-size: 1.2em;
  .intro {
    display: flex;
    align-content: space-between;
    align-items: center;
    #title {
      text-align: center;
      flex: 1;
    }
    #description  {
      text-align: justify;
      flex: 1;
    }
  }
}

.myEvents {
  li {
    padding: 1em .5em;
    margin: .5em;
    border: 1px solid $grey;
    background-color: $white-green;
    cursor: pointer;
    &:hover {
      background-color: $white;
    }
  }
}

.button {
  display: inline-block;
  padding: .4em 1.4em;
  background: $green;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 4px 1px $mid-grey;
  margin: 0 .5em;
  border-radius: .2em;
  &:hover {
  box-shadow: 0 0 4px 1px $grey;
  }
  &:active {
    box-shadow: none;
    background: lighten($green, 10%)
  }
  &.red {
    background: $red;
  }
  .fa {
    min-width:0;
  }
}

.checklist {
  li {
    padding: .5em;
    display: flex;
    align-items: baseline;
  }
}

@media only screen and (min-width:1200px){
  #page #application {
    aside {
      width: $sidebar-width-px
    }
    main {
      margin-left: $sidebar-width-px;
    }
  }
}
