$red:           #ff0000;
$green:         #4CAF50;
$light-green:   lighten($green, 20);
$white-green:   lighten($green, 45);
$orange:        #FFC107;
$light-orange:  lighten($orange, 20);
$white-orange:  lighten($orange, 45);
$blue:          #2196f3;
$light-blue:    lighten($blue, 20);
$white-blue:    lighten($blue, 45);
$light-grey:    #fafafa;
$grey:          #ddd;
$strong-grey:   #4C4C4C;
$white:         white;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body {
  font-family: "Roboto",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.calendar {
  .calendar-header{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size:1.5em;
  }
  ul.dates, ul.weekdays {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 13.6%;
      line-height: 2em;
      vertical-align: middle;
    }
  }
  ul.weekdays {
    border: 1px solid $grey;
  }
  ul.dates{
    li {
      &.current-day {
        background-color: $green;
        &.selected {
          background: repeating-linear-gradient(
            -45deg,
            $green,
            $green 10px,
            $blue 10px,
            $blue 20px
          );
        }
      }
      &.selectable:hover {
        background-color: $light-blue;
        cursor: pointer;
      }
      &.selected {
        background-color: $blue;
      }
    }
  }
  .hourInput {
    width: 3em;
  }
}

.action:hover {
  color: $blue;
  cursor: pointer;
}